@import "tailwindcss";
@import "react-photo-view/dist/react-photo-view.css";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #fff;
  color: #222;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@keyframes slowZoom {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1.15);
  }
}

@media (pointer:fine){

*{
cursor:none;
}

}